<!DOCTYPE html>

<html lang="pt">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		{% load staticfiles %}
    
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description" content="Faça o login ou cadastre-se.">
		<meta name="author" content="Fire Inácio">

		<link rel="icon" href="{% static 'images/favicon/pokeico.png' %}">		

		

		<title>Pokébook - Uma rede social Pokémon!</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min_sign.css' %}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/gfont.css' %}" rel='stylesheet' type='text/css'>
		<link href="{% static 'css/style_sign.css' %}" rel="stylesheet">

	</head>

	<body>

		<div class="container">
			<div class="overlay">
				
				<h1 class="header">
				  <span class="fa-stack">
					<img src="{% static 'images/favicon/pokeico.png' %}" height="64" width="64">
				  </span>
				  Pokébook
				</h1>
				
				<form action="form_signin" method="post" class="form-signin" role="form">{% csrf_token %}
					<h3 class="form-signin-heading">Entre com suas informações</h3>
			
					<div class="input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
						<input class="form-control" type="text" name="email" placeholder="Email" required autofocus>
					</div>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
						<input class="form-control" type="password" name="senha" placeholder="Senha" required autofocus>
					</div>
			
					<div>
						<label class="checkbox" title="Check this to have your username saved for the next time you sign in.">
							<input type="checkbox" value="Lembrar-me"> Lembrar-me
						</label>
					</div>
					
					<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
					
					
				</form>
				
				{% if erro %}
				<p> <b> {{ erro }} <b> </p>
				{% endif %}
				
				<div class="footer">
					<strong>Não é cadastrado?</strong><br><a href="sign-up.html"><u> Clique aqui e cadastre-se! </u></a></br>
				</div>
				
			</div>
		</div> 
		
		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>
</html>